/*   */

:root {
    --basic: white;
    --basic-alt: rgb(230, 230, 230);
    --bkg: black;
    --accent: rgb(232,197,76);
    --accent-highlighted: rgb(255,232,151);
}

html {
    height: 100%;
    cursor: url("/images/cursor_norm.png"),auto;
    background-color: var(--bkg);
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 36px;
    font-stretch: expanded;
    color: var(--basic);
    line-height: 0px;
}
p {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    font-stretch: expanded;
    color: var(--basic-alt);
}
label{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    color: var(--accent);
}

body {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    margin: 12px;
    background-color: transparent;
}

a {
    color: var(--accent);
    text-decoration: none;
    cursor: url("/images/cursor_norm.png"),auto;
    transition: 0.5s;
    position: absolute;
    right: 0px;
    max-width: 30px;
    overflow: hidden;
}
    a:hover {
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        color: var(--accent-highlighted);
        opacity: 1;
        text-decoration: none;
        cursor: url("/images/cursor_hover.png"),auto;
        position: absolute;
        max-width: 48px;
    }
input[type=text] {
    width: 70%;
    max-width: none;
    background-color: var(--bkg);
    color: var(--accent-highlighted);
    caret-color: var(--accent-highlighted);
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
}
    input[type=text]:focus{
        outline: none;
    }

/* # */

#settings{
    border:solid;
    border-width:1px;
    border-color:var(--basic);
    position:fixed;
    top: 16px;
    right: 16px;
    min-height:36px;
    width: 100px;
    text-align: center;
}

#display-option {
    margin-top:4px;
    margin-bottom:4px;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
    color: var(--basic);
    background-color: transparent;
    border: none;
    width: 100px;
}
    #display-option:hover {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        color: var(--accent-highlighted);
        cursor: url("/images/cursor_hover.png"),auto;
    }

#iconbar {
    position: fixed;
    bottom: 15%;
    right: 0;
    background-color: transparent;
}

/* . */

.container {
    display: flex;
    flex-direction: column;
}
.item {
    max-width: 75%;
}

.blue-text{
    color: var(--accent); /* TODO: This is not working to override p colour. */
}

.dropdown-button {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    color: var(--basic);
    background-color: transparent;
    border: none;
    height:inherit;
    padding: 8px;
}
    .dropdown-button:hover {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        color: var(--accent-highlighted);
        cursor: url("/images/cursor_hover.png"),auto;
    }

/* :: */

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--accent); /* TODO: Update colour palette. */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #E8C54C; /* TODO: Update colour palette. */
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background:#ffe897; /* TODO: Update colour palette. */
        border-radius: 10px;
    }

::selection {
    color: var(--basic);
    background: var(--accent-highlighted);
    }