/*   */

html {
    height: 100%;
    cursor: url("/images/cursor_norm.png"),auto;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 48px;
    font-stretch: expanded;
    color: white;
    line-height: 0px;
}
p {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    font-stretch: expanded;
    color: rgb(230, 230, 230);
}

body {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    margin: 12px;
    background-color: black;

    background-image: url('/images/polaroids.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 400px 200px;
    background-position: 90% 105%;
}

a {
    color: #5c80bc;
    text-decoration: none;
    cursor: url("/images/cursor_norm.png"),auto;
    transition: 0.5s;
    position: absolute;
    right: 0px;
    max-width: 30px;
    overflow: hidden;
}
    a:hover {
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        color: #56cdea;
        opacity: 1;
        text-decoration: none;
        cursor: url("/images/cursor_hover.png"),auto;
        position: absolute;
        max-width: 48px;
    }

input[type=text] {
    max-width: none;
    border: none;
    background-color: black;
    color: #56cdea;
    caret-color: #56cdea;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
}
    input[type=text]:focus{
        outline: none;
    }

/* # */

#settings{
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: black;
}
#settings-button {
    position: absolute;
    right: 8px;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 32px;
    color: rgb(230, 230, 230);
    background-color: black;
    border: none;
    outline: none;
}
    #settings-button:hover {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        color: #56cdea;
        cursor: url("/images/cursor_hover.png"),auto;
    }
#settings-options{
    display: none;
}
#settings-option {
    float: right;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    color: rgb(230, 230, 230);
    background-color: black;
    border: none;
    outline: none;
}
    #settings-option:hover {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        color: #56cdea;
        cursor: url("/images/cursor_hover.png"),auto;
    }
#settings-padding{
    background-color: black;
}

#iconbar {
    position: absolute;
    bottom: 15%;
    right: 0;
}

/* . */

.container {
    display: flex;
    flex-direction: column;
}
.item {
    max-width: 75%;
}

/* :: */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #5c80bc; /* TODO: Update colour palette. */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #E8C54C; /* TODO: Update colour palette. */
    border-radius: 10px;
}

    ::-webkit-scrollbar-thumb:hover {
        background:#ffe897; /* TODO: Update colour palette. */
        border-radius: 10px;
    }

::selection {
    color: white;
    background: #56cdea;
    }