:root {
    --basic: black;
    --basic-alt: rgb(120,120,120);
    --bkg: white;
    --accent: rgb(160, 255, 203);
    --accent-highlighted: rgb(0, 255, 72);
}

html {
    height: 100%;
    /* cursor: url("./images/cursor_norm.png"),auto; */
    background-color: var(--bkg);
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 36px;
    font-stretch: expanded;
    color: var(--basic);
    line-height: 0px;
}

h3 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    margin-bottom: 0;
    color: var(--basic);
}

h4 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 12px;
    margin-bottom: 0;
    color: var(--basic);
}

p {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 16px;
    font-stretch: expanded;
    color: var(--basic-alt);
}
@media screen and (max-width:500px) {
    p {
        font-size: 24px;
    }
}

label{
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    color: var(--accent);
}

body {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */
    margin: 12px;
    background-color: transparent;
    background-image: url("./images/bkg.jpg");
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    min-height:42px;
    min-width:42px;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    color: var(--basic);
    background-color: var(--bkg);
    border: none;
    cursor: default;
    border:1px var(--basic) solid;
}
    button:hover {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        color: var(--bkg);
        /* cursor: url("./images/cursor_hover.png"),auto; */
        background-color: var(--basic);
        border:1px var(--bkg) solid;
    }

/* # */

#settings{
    min-height:36px;
    width: 120px;
    text-align: center;
    display:inline-flex;
}

#iconbar {
    position: fixed;
    bottom: 20%;
    right: 0;
    background-color: transparent;
}

/* . */

.container {
    display: flex;
    flex-direction: column;
}
.item {
    max-width: 75%;
}

.dropdown-button {
    border-radius: 10px;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 24px;
    color: var(--basic);
    background-color: transparent;
    border: none;
    height:inherit;
    padding: 8px;
}
    .dropdown-button:hover {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        /* cursor: url("./images/cursor_hover.png"),auto; */
    }

.logo {
    text-decoration: none;
    /* cursor: url("./images/cursor_norm.png"),auto; */
    transition: 0.5s;
    position: absolute;
    right: 0px;
    max-width: 30px;
    overflow: hidden;
}
    .logo:hover {
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
        opacity: 1;
        text-decoration: none;
        /* cursor: url("./images/cursor_hover.png"),auto; */
        position: absolute;
        max-width: 48px;
    }

.resume-contents {
    padding-left: 24px;
    padding-right: 24px;
    white-space: nowrap;
}

.resume-holder {
    width: 0;
    height: 90vh;
    transition: width .25s ease-in;
    background-color: var(--basic);
}

.router-link {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 18px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 100px;
    height: 9.9vh;
    transition: all .5s ease;
    padding: 5vh;
    margin-left: 2px;
    margin-right: 2px;
}
    .router-link:hover {
        color: var(--bkg);
        background-color: grey;
        /* cursor: url("./images/cursor_hover.png"),auto; */
    }

.side-tab {
    border-radius: 0 50px 50px 0;
    background-color: var(--basic);
    color: var(--bkg);
    margin-top: 1vh;
    width: 80px;
    height: 60px;
}
    .side-tab:hover {
        color: var(--basic);
        background-color: var(--bkg);
        border: 1px var(--basic) solid;
    }

/* :: */

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
}

::-webkit-scrollbar-track {
    background: var(--bkg);
}

::-webkit-scrollbar-thumb {
    background: var(--basic);
    border-radius: 10px;
}

::selection {
    color: var(--basic);
    background: var(--accent-highlighted);
    }